<center><h1>New Customerreview</h1></center>
<p id="notice"><%= notice %></p>
<%= render 'form', tagcreation: @tagcreation , customerreview: @customerreview %>

<%= link_to 'Back', customerreviews_path %>
